/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Services
- Details 1
- Details 2
- Features
- Testimonials
- Customers
- Invitation
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #fcfafb
- Buttons, icons - blue #0092ff
- Buttons, icons - red #ef473d
- Headings text - black #223150
- Body text - dark gray #5e6576
******************************************/

/**************************/
/*     General Styles     */
/**************************/
body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #5e6576;
  font: 400 1rem/1.625rem "Futura", sans-serif;
}

h1 {
  color: #223150;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: #223150;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

h3 {
  color: #223150;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #223150;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

h5 {
  color: #223150;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #223150;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #5e6576;
  text-decoration: underline;
}

a:hover {
  color: #5e6576;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.read-more {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.read-more .fas {
  margin-left: 0.625rem;
  font-size: 1rem;
  vertical-align: -8%;
}

.blue {
  color: #0092ff;
}

.bg-gray {
  background-color: #f3f5fe;
}

.section-title {
  margin-bottom: 0.5rem;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.875rem;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #4fbfa4;
  border-radius: 30px;
  background-color: #4fbfa4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #4fbfa4; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #4fbfa4;
  border-radius: 30px;
  background-color: #4fbfa4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #4fbfa4; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #4fbfa4;
  border-radius: 30px;
  background-color: #4fbfa4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-sm:hover {
  background-color: transparent;
  color: #4fbfa4; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
  display: block;
  height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #4fbfa4;
  border-radius: 30px;
  background-color: #4fbfa4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #4fbfa4;
  background-color: transparent;
  color: #4fbfa4;
}

/******************/
/*     Header     */
/******************/
.header {
  padding-top: 8rem;
  padding-bottom: 4em;
  background: url("https://assets.codepen.io/t-6595/header-background.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.header span {
  display: block;
  text-align: center;
  padding-bottom: 50px;
  font-size: 120px;
  color: #4fbfa4;
}

.header .h1-large {
  margin-bottom: 1.75rem;
}

.header .p-large {
  margin-bottom: 2.25rem;
}

.header .image-container {
  margin-top: 5rem;
}

/********************/
/*     Services     */
/********************/
.cards-1 {
  padding: 2rem 2rem 2.25em 2rem;
  background-image: url(https://assets.codepen.io/t-6595/details-2-background.jpg);
  background-size: cover;
}

.cards-1 h2 {
  margin-bottom: 3.5rem;
  text-align: center;
}

.cards-1 .col-lg-12 span {
  display: block;
}

._mobile-elem {
  font-size: 2.2rem;
  color: #223150;
  font-weight: 700;
  display: inline-block !important;
}

.cards-1 h5 {
  display: inline-block;
  font-size: 2.25rem;
}

.cards-1 p {
  text-align: start;
  font-size: 18px;
}

.cards-1 .card {
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
}

.cards-1 .card-icon {
  width: 66px;
  height: 66px;
  margin-bottom: 1.875rem;
  border-radius: 8px;
  background-color: #ddedfb;
  text-align: center;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
  color: #0092ff;
  font-size: 2rem;
  line-height: 66px;
}

.cards-1 .card-icon.red {
  background-color: #fbe4e4;
}

.cards-1 .card-icon.red .fas,
.cards-1 .card-icon.red .far {
  color: #ef473d;
}

.cards-1 .card-icon.green {
  background-color: #e0f4ea;
}

.cards-1 .card-icon.green .fas,
.cards-1 .card-icon.green .far {
  color: #16c66d;
}

.cards-1 .card-body {
  padding: 0;
}

.cards-1 .card-title {
  margin-bottom: 1.125rem;
}

.cards-1 .card-body p {
  margin-bottom: 1.125rem;
}

.cards-1 .read-more {
  color: #223150;
}

.cards-1 .read-more .fas {
  color: #223150;
}

.cards-1 .get-bonus {
  display: flex;
  justify-content: center;
  align-items: center;
}


/********************/
/*     Features     */
/********************/
.accordion-1 {
  padding: 3.25rem 2rem 2.75rem 2rem;
  background: url("https://assets.codepen.io/t-6595/features-background.jpg") center center no-repeat;
  background-size: cover;
}

.accordion-1 .h2-heading {
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
}

.accordion-1 .p-heading {
  margin-bottom: 4rem;
  color: #ffffff;
  text-align: center;
}

.accordion-1 .accordion {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.accordion-1 .accordion-item {
  margin-bottom: 2.5rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.accordion-1 .accordion-item:last-of-type {
  margin-bottom: 0;
}

.accordion-1 .accordion-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  background-color: #14be9f;
}

.accordion-1 .accordion-icon.blue {
  background-color: #1d79fb;
}

.accordion-1 .accordion-icon.purple {
  background-color: #dc63ff;
}

.accordion-1 .accordion-icon.orange {
  background-color: #ff6c02;
}

.accordion-1 .accordion-icon .fas {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 44px;
}

.accordion-1 .accordion-header {
  margin-left: 4.125rem;
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  background-color: transparent;
}

.accordion-1 .accordion-header button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.4px;
  text-align: left;
}

.accordion-1 .accordion-header button:after {
  display: none;
}

.accordion-1 .accordion-body {
  margin-left: 4.125rem;
  margin-right: 2.5rem;
  padding: 0.375rem 0 0 0;
  color: #ffffff;
}

.accordion-1 .get-bonus {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/************************/
/*     Testimonials     */
/************************/
.cards-2 {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.cards-2 .h2-heading {
  margin-bottom: 1.75rem;
  font-size: 1.8rem;
}

.cards-2 .card {
  display: none;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
}

.cards-2 .card .quotes {
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  width: 48px;
  margin-right: auto;
  margin-left: auto;
}

.cards-2 .card-body {
  padding: 3.5rem 2rem 3.125rem 2rem;
}

.cards-2 .testimonial-author {
  margin-bottom: 0.125rem;
  color: #223150;
}

.cards-2 .occupation {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.cards-2 .card .gradient-floor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cards-2 .card .gradient-floor.red-to-blue {
  background: linear-gradient(to right, #ef3d91, #0092ff);
}

.cards-2 .card .gradient-floor.blue-to-purple {
  background: linear-gradient(to right, #0092ff, #637eff);
}

.cards-2 .card .gradient-floor.purple-to-green {
  background: linear-gradient(to right, #637eff, #16c66d);
}

.cards-2 .tabs{
	width: 100%;
	margin: 0 auto;
}
.cards-2 .tab {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.cards-2 .tablinks {
  width: 50%;
}

/* Style the buttons inside the tab */
.cards-2 .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.cards-2 .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.cards-2 .tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.cards-2 .tabcontent {
  display: none;
  background-color: #ffffff;
  padding: 6px 12px;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cards-2 .chart{
	width: 90%;
	height: 50%;
	margin: 20px 0;
}


/**********************/
/*     Invitation     */
/**********************/
.basic-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-size: cover;
  text-align: center;
}

.basic-3 .text-container {
  padding: 1.5rem;
  border-radius: 28px;
  background: url("https://assets.codepen.io/t-6595/invitation-background.jpg") center center no-repeat;
  background-size: cover;
}

.basic-3 h2 {
  font-size: 20px;
  margin-bottom: 0px;
  color: #ffffff;
}

.basic-3 .p-large {
  margin-bottom: 2.75rem;
  color: #ffffff;
}

.basic-3 .btn-solid-lg {
  border-color: #16c66d;
  background-color: #16c66d;
}

.basic-3 .btn-solid-lg:hover {
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}


.arrow{
	color: white;
	margin-left: 10px;
}

#SlideButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
}

#Panel {
  text-align: start;
  margin-top: 10px;
  padding: 30px 25px;
  display: none;
  background-color: #f0f0f0d7;
  border: solid 1px #0195b4;
  border-radius: 20px;
}

.list-tnc {
  color: #333;
}

.number-tnc {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* Header */
  .header {
    padding-top: 9rem;
    padding-bottom: 5em;
  }

  .header .h1-large {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
  /* end of header */

  /* Testimonial*/

  .cards-2 .col-lg-12{
	width: 70%;
	margin: 0 auto;
  }

  /* Invitation */
  .basic-3 .container{
	width: 80%;
  }
}
/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Header */
  .header {
    text-align: left;
  }

  .header span {
    text-align: left;
  }

  .header .text-container {
    margin-top: 4rem;
    width: 110%;
  }

  .header .col-xl-5 {
    width: 65%;
  }

  .header .col-xl-7 {
    width: 35%;
    margin-top: 6%;
  }

  .header .image-container {
    margin-top: 0;
  }

  .header .btn-solid-lg,
  .header .btn-outline-lg {
    margin-right: 0;
    margin-left: 0;
  }

  .header .btn-solid-lg {
    margin-right: 0.5rem;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    display: inline-block;
    width: 286px;
    vertical-align: top;
    padding: 3rem 0 3rem 0;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .cards-1 .btn-solid-lg {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width: 25%;
  }
  /* end of services */


  /* Features */

  /* Testimonials */
  .cards-2 .card {
    display: inline-block;
    width: 298px;
    vertical-align: top;
  }

  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .cards-2 .tabs{
	display: none;
  }
  /* end of testimonials */

  /* Invitation */
  .basic-3 .text-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .basic-3 h2 {
    width: 42rem;
    margin-right: auto;
    margin-left: auto;
  }

  .basic-3 .p-large {
    width: 35rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of invitation */

  
}
/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* General Styles */
  .container {
    max-width: 1140px;
  }
  /* end of general styles */

  /* Header */
  .header {
    overflow: hidden;
    padding-top: 10.25rem;
    padding-bottom: 5rem;
  }

  .header .text-container {
    margin-top: 0;
  }

  .header .image-container {
    position: relative;
  }

  .header .image-container img {
    position: absolute;
    bottom: -220px;
    left: 60px;
    max-width: 100%;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    width: 310px;
  }

  .cards-1 .col-lg-12 {
    display: flex;
    justify-content: center;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
  }
  /* end of services */

  /* Features */
  .accordion-1 .accordion {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .accordion-1 .container {
    display: block;
    justify-content: center;
  }

  .accordion-1 .btn-solid-lg {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width: 25%;
  }

  .accordion-1 .image-container {
    text-align: right;
  }

  .accordion-1 .col-xl-12 {
    margin-bottom: 1rem;
  }

  /* end of features */

  /* Testimonials */
  .cards-2 .card {
    width: 356px;
  }

  .cards-2 .card:nth-of-type(3n + 2) {
    margin-right: 1.125rem;
    margin-left: 1.125rem;
  }
  /* end of testimonials */

  /* Invitation */
  .basic-3 .text-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
	width: 80%;
	margin: 0 auto;
  }
  /* end of invitation */

}
/* end of min-width 1200px */
